<div class="overview-area">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="overview-content-wrap card-box-style">
        </div>
      </div>
    </div>
  </div>
</div>