<div class="nested-fields">
  <div class="form-group mb-24 icon">
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nome" %>
    <%= image_tag('icon/user-square.svg', alt: "note") %>
  </div>
  <div class="form-group mb-24 icon">
    <%= f.text_field :age, autofocus: true, class: "form-control", placeholder: "Idade" %>
    <%= image_tag('icon/drafts-color.svg', alt: "note") %>
  </div>
</div>