<div class="nested-fields">
  <div class="form-group mb-24 icon">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
    <%= image_tag('icon/sms.svg', alt: "sms") %>
  </div>
</div>